PORT=8000
MONGODB_URI=mongodb://collabstream_admin:collabstream1234@ac-elberx4-shard-00-00.uevqlap.mongodb.net:27017,ac-elberx4-shard-00-01.uevqlap.mongodb.net:27017,ac-elberx4-shard-00-02.uevqlap.mongodb.net:27017/collabstream?ssl=true&replicaSet=atlas-8egayt-shard-0&authSource=admin&appName=Cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dzinahvww
CLOUDINARY_API_KEY=176865784197641
CLOUDINARY_API_SECRET=45V5dYu6gJXNT6NzNigeW5uvOTs
